/**
 * Created by Manuel Garni on 03.03.16.
 */
/* Import Definitionen Farbcodes + Schatten */
/**
 * Created by Manuel Garni on 04.03.16.
 */
/*
 * Farben siehe https://www.google.com/design/spec/style/color.html#color-color-palette
 * Gelb, Orange, Rot sind appetitanregend
 */
/* Farbenpool */
/* Farbenzuweisung */
/*
 * Schatten siehe https://www.google.com/design/spec/what-is-material/elevation-shadows.html#elevation-shadows-shadows
 * Author: Florian Kutschera (@gefangenimnetz), Conceptboard GmbH (@conceptboardapp)
 * https://medium.com/@Florian/freebie-google-material-design-shadow-helper-2a0501295a2d#.y87d7n20d
 */
/* START Generelle Styles */
html,
body {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', serif;
}
body {
  background-color: #f4f7f9;
}
h1,
h2,
h3,
h4,
h5 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
/* ENDE Generelle Styles */
/* START Verlinkung und Button Design */
a {
  color: #ff9800;
  text-decoration: none;
  align-items: center;
  margin-left: .2em;
  display: inline-flex;
  transition: all 0.2s ease;
  cursor: pointer;
}
a:hover {
  color: #e65100;
}
a:active {
  color: #d84315;
  box-shadow: none;
}
a:focus {
  outline: 2px solid #d84315;
}
/* Button deaktivieren durch Hinzufügen der Klasse*/
.inaktiv {
  pointer-events: none;
  cursor: default;
  color: rgba(255, 255, 255, 0.5) !important;
}
/* Rotierender Sync Button Animation */
.rotateAnimation {
  animation: spin 2s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(-360deg);
  }
}
/* Roter Rand passend für vergrößterte Input-Elements auf Bestellung-Kunde */
.errorBorder {
  border: 5px inset red !important;
}
/* Standard-Button + Navigationsbar-Button Design */
.button__hell,
.nav__flexContainer a {
  color: #f4f7f9;
}
.button__hell:hover,
nav a:hover {
  color: #607d8b;
}
.button__hell:active,
nav a:active {
  color: #37474f;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.button__hell {
  border-radius: .2em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: .4em .5em;
  margin: .4em;
  text-transform: uppercase;
  background-color: #ff9800;
}
/* Standard-Button rechtsbündig, wenn nicht in Navigationsbar */
.button__hell--bottom {
  margin: 1.7em 1em 1.7em 50%;
  padding-left: 1.3em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
/* ENDE Verlinkung und Button Design */
/* START Page */
#page {
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
}
.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.pageContainer--content {
  max-width: 70em;
  width: 96%;
  padding: 2%;
  margin: 0 auto;
}
.pageContainer--content h1 {
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}
#header {
  position: relative;
  margin-top: -10px;
  z-index: 99;
  /* Damit Schatten angezeigt wird */
}
nav {
  position: relative;
  z-index: 90;
  width: 100%;
}
#impressum,
#bestellung,
#kundendaten,
#ende,
#übersicht,
#error {
  display: none;
}
/* ENDE Page */
/* START Header */
/* FlexBox Layout siehe https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
.header__flexContainer {
  padding: 10px 0 0 0;
  margin: 10px 0 1em 0;
  display: flex;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  list-style: none;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  /* Zeilenumbruch */
  color: #ffffff;
  background-color: #1e46a3;
  /* legacy
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    */
}
.header__flexContainer--item {
  display: inline-flex;
  align-items: center;
  margin-bottom: .3em;
}
.header__flexContainer--item .md-48 {
  margin: -0.2em 0.3em 0 0.6em;
}
.header__flexContainer--item h1 {
  font-weight: 100;
  margin: 0 .3em .3em 0;
}
.header__flexContainer--item h4 {
  margin: 0 .3em 0 1.2em;
  font-weight: normal;
}
.header__flexContainer--item img {
  width: 100%;
  margin: -1.8em 0 -2em -3.3em;
  max-width: 300px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
/* ENDE Header */
/* START Navigation */
.nav__flexContainer {
  padding: 0;
  margin: -1em 0 0 0;
  display: flex;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  list-style: none;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  /* Zeilenumbruch */
  color: #f4f7f9;
  background-color: #ff9800;
}
.nav__flexContainer--item {
  padding: .5em .5em .4em .5em;
  text-transform: uppercase;
  font-size: 1.4em;
}
.nav__flexContainer--item p {
  margin: 0;
}
@media (max-width: 30em) {
  .nav__flexContainer--item p {
    display: none;
  }
}
/* ENDE Navigation */
/* START Error Container */
#error {
  background-color: #d84315;
  z-index: 999;
  position: fixed;
  margin: .4em;
  color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: .3em;
  padding: 1em;
  width: inherit;
  border: none;
  animation: glow 4s infinite;
}
#error .error--schließen {
  float: right;
  font-size: 1.2em;
  width: 100%;
}
#error--message {
  margin-top: 2em;
}
#error p {
  display: inline-flex;
}
@keyframes glow {
  0% {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  50% {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
  100% {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
}
/* ENDE Error Container */
/* Summmenseite */
.page__dark {
  color: white;
  background-color: black;
}
/* START Page 1 Information */
#page1 {
  min-height: 70vh;
}
/* ENDE Page 1 */
/* START Page 2 Speisekarte */
#page2 {
  min-height: 70vh;
  background-color: #ffeb3b;
}
/* Großes Artikelbild, dynamisch hinzugefügt */
.artikel__bild--groß {
  width: 96vw !important;
}
/* ENDE Page 2 */
/* START Page 3 Bestellung */
#page3 {
  min-height: 70vh;
  background-color: #ffcc80;
}
#page3 .pageContainer--content {
  text-align: center;
}
#button__bestellung--start {
  font-size: 1.4em;
}
/* ENDE Page 3 */
/* START Page Footer */
/* FlexBox Layout siehe https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
#footer {
  background: #ffab62;
  width: 100%;
  height: inherit;
}
.footer__flexContainer {
  padding: 0;
  margin: 0;
  display: flex;
  flex: 0 1 auto;
  list-style: none;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  /* Zeilenumbruch */
  color: #ffffff;
  background-color: #1e46b7;
}
.footer__flexContainer--item {
  padding: .8em;
}
.footer__flexContainer--item figure {
  margin: 0;
}
.footer__flexContainer--item img {
  width: 100%;
  margin: 0;
  max-width: 200px;
}
/* ENDE Page Footer */
/* START Impressum */
#impressum .tableContainer {
  margin-bottom: 0;
}
#impressum .tableContainer {
  margin-bottom: 0;
  border-radius: 0;
  font-size: 1.2em;
  padding: .6em;
}
#impressum .tableContainer a {
  color: #f44336;
}
/* ENDE Impressum */
/* START Tabellen generell */
.tableContainer {
  margin-bottom: 1em;
  width: 100%;
  border-radius: .3em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.tableContainer--header {
  background-color: #1e46b7 !important;
  color: #ffffff;
  font-weight: 100;
  font-size: 1.5em;
  text-transform: uppercase;
}
.tableContainer:nth-child(2n) {
  background-color: #b0bec5;
}
.tableContainer:nth-child(2n-1) {
  background-color: #ffcc80;
}
/* für kleine Displays: umschalten nach row anstatt column Flex Layout */
@media (max-width: 600px) {
  .tableContainer {
    flex-wrap: wrap;
  }
  .tableContainer__add {
    flex-direction: row !important;
    margin-left: auto !important;
  }
  .tableContainer__add p {
    line-height: 2em !important;
  }
  #bestellung__liste .tableContainer__cell--price {
    width: 25%;
    padding-left: 25%;
  }
  .tableContainer__cell--name {
    width: 100% !important;
  }
}
.tableContainer__cell {
  margin: 0 .5em;
  align-items: center;
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.tableContainer__cell--right {
  margin-left: auto;
}
/* ENDE Tabellen generell*/
/* START Bestellung Artikelauswahl */
.tableContainer__add a,
.bestellung__übersicht a {
  color: #37474f;
  margin-left: .1em;
}
.tableContainer__cell--name {
  width: 20rem;
  font-size: 1.8em;
}
/* Bestellung Artikelliste Artikelfoto */
.tableContainer__cell img {
  width: 100%;
  max-width: 1000px;
  max-height: 1000px;
  border-radius: .3em;
  margin-left: -0.5em;
}
/* Bestellung Artikelliste Artikelpreis */
.tableContainer__cell--gewichtung {
  font-weight: bold;
  font-size: 1.1em;
}
/* Bestellung Artikelliste Artikelart */
.tableContainer__cell--art {
  width: 14em;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 1.1em;
}
/* Bestellung Artikelliste Unterteilung für Art, Inhaltsstoffe und Mehrwertsteuersatz */
.tableContainer__sub {
  display: inline-flex;
  margin: .5em;
  flex-direction: column;
  align-items: flex-start;
}
/* Bestellung Artikelliste Inhaltsstoffe */
.tableContainer__cell--inhalt {
  font-size: .7em;
}
/* Buttons Artikel hinzufügen/entfernen */
.tableContainer__add {
  margin: 0;
  display: inline-flex;
  flex-direction: column;
}
/* enthält Anzahl des jeweiligen Artikels in Bildliste */
.tableContainer__add p {
  margin: 0 .1em 0 0;
  font-size: 2em;
  line-height: 1em;
  text-align: center;
}
/* ENDE Bestellung Artikelauswahl */
/* START Bestellung Übersicht */
.bestellung__übersicht .tableContainer {
  margin-bottom: 0;
  border-radius: 0;
  font-size: 1.2em;
  padding: .6em 0;
}
/* ENDE Bestellung Übersicht */
/* START Bestellung Kunde */
.tableContainer__kunde {
  flex-direction: column;
  max-width: 50em;
  margin: 0 auto;
  padding: 1em 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: #ffcc80;
}
.tableContainer__kunde--liefern {
  background-color: #ffeb3b !important;
}
.tableContainer__cell--input {
  font-size: 1.2em;
  padding: .4em;
}
@media (max-width: 600px) {
  .tableContainer__cell--input {
    flex-direction: column;
    align-items: flex-start;
  }
}
.tableContainer__cell--input label {
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.tableContainer__cell--input input {
  margin-left: auto;
  border-radius: .2em;
  border: 5px inset;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-size: larger;
  background-color: #ffcc80;
}
.tableContainer__kunde--liefern {
  flex-direction: row;
}
.tableContainer__kunde--liefern .tableContainer__cell--input input,
#speichern {
  box-shadow: none;
  margin: 0 1em;
}
input[type="checkbox"],
input[type="radio"] {
  display: inline-flex;
  width: 1em;
  height: 1em;
}
/* ENDE Bestellung Kunde */
/* START Bestellung Übersicht */
#bestellung__kundendaten--ende input {
  border: none;
  box-shadow: none;
}
/* ENDE Bestellung Übersicht */
