/**
 * Created by Manuel Garni on 03.03.16.
 */

/*
 * Definition der Material Design Icons als Schriftart
 * Version 2.2.0 von https://github.com/google/material-design-icons/tree/master/iconfont
 * Beispiel Benutzung: <i class="material-icons">face</i>
 * weitere mögliche Klassen:
 *  - Größen: md-18 md-24 md-36 md-48
 *  - Farbe: md-dunkel md-hell
 *  - inaktiv: md-inaktiv
 *
 * Folgende Klassen übernommen von https://google.github.io/material-design-icons/#icon-font-for-the-web
 */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(MaterialIcons-Regular.woff2) format('woff2'),
    url(MaterialIcons-Regular.woff) format('woff'),
    url(MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    padding-right: .1em;
    font-family: 'Material Icons', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    width: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px;
width: 18px;}
.material-icons.md-24 { font-size: 24px;
width: 24px;}
.material-icons.md-36 { font-size: 36px;
width: 36px;}
.material-icons.md-48 { font-size: 48px;
width: 48px;}
.material-icons.md-60 { font-size: 60px;
width: 60px;}

/* Rules for using icons as black on a light background. */
.material-icons.md-dunkel { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dunkel.md-inaktiv { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-hell { color: rgba(255, 255, 255, 1); }
.material-icons.md-hell.md-inaktiv { color: rgba(255, 255, 255, 0.5); }